/* style sheet for p1*/
h1 {text-align: center;
    font-family:Tahoma;
    font-size: 75px;
    color: black;}
img{display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width:thick}

h2,a{
  font-family: Arial;
  color:black;
  font-size:35px;
  width:20em;
  margin-top:1em;
  margin-bottom:1em;


}



body{
  background-color:white
}
