/* style sheet for p1*/
h1 {text-align: center;
    font-family:Tahoma;
    font-size: 75px;
    color: black;}
img{display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-width:thick}

.githuburls{
  font-family: Arial;
  color:black;
  font-size:35px;
  float:left;
  width:20em;
  margin-left:8em;
  margin-top:2.5em;
  margin-bottom:2em;
  margin-right:2em;

}

.liveurls{
  font-family: Arial;
  color:black;
  font-size:35px;
  float:right;
  width:20em;
  margin right:5em;
  margin-top:2.5em;
  margin-bottom:2em;
  margin-left:2em;

}

body{
  background-color:white
}
